name: Assign Bundle ID tags (Pull Request)

on:
  pull_request:
    types: [ labeled ]

jobs:
  build:
    if: ${{ github.event.label.name == 'deploy' }}
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        ref: ${{github.head_ref}}
    - name: Setup github-actions[bot] account
      run: |
        git config user.name 'github-actions[bot]'
        git config user.email 'github-actions[bot]@users.noreply.github.com'
    - run: git fetch --all --tags
    - run: git tag -l "bundle0.${{ github.event.number }}.[0-9]*" --merged > BUNDLE_VERSIONS
    - run: |
        if [ `cat BUNDLE_VERSIONS | wc -l` -eq 0 ]; then
          echo 0 > PATCH_VERSION
          echo "Tag 'bundle0.${{ github.event.number }}.[0-9]*' not found. >> Patch Version '0' is selected."
        else
          sort -rV BUNDLE_VERSIONS | head -n 1 | awk -F '.' '{print $3 + 1}' > PATCH_VERSION
        fi
    - run: git tag -a bundle0.${{ github.event.number }}.`cat PATCH_VERSION` -m "Auto Generated tag (PR \#${{ github.event.number }})"
    - run: git push origin bundle0.${{ github.event.number }}.`cat PATCH_VERSION`
    - run: gh pr edit ${{ github.event.number }} --remove-label deploy
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - run: >
        echo Tag \`bundle0.${{ github.event.number }}.`cat PATCH_VERSION`\` was automatically created and pushed with
        ... https://github.com/${{github.repository}}/actions/runs/${{github.run_id}}
        | gh pr comment ${{ github.event.number }} -F -
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
