name: Build App
# ref: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-xamarin-applications

on: [push]

env:
  SLN_PATH: FIS-J.sln
  UWP_PATH: FIS-J\FIS-J.UWP\FIS-J.UWP.csproj
  IOS_PATH: FIS-J/FIS-J.iOS/FIS-J.iOS.csproj
  ANDROID_PATH: FIS-J/FIS-J.Android/FIS-J.Android.csproj
  NET_VERSION: 6.0.x

jobs:
  build-uwp:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: ${{ env.NET_VERSION }}

    - name: Install dependencies
      run: nuget restore ${{ env.SLN_PATH }}

    - name: Build
      run: msbuild ${{ env.UWP_PATH }} /p:Configuration=Release /p:Platform=x64 /t:Rebuild

  build-ios:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set default Xamarin SDK versions
      run: |
        $VM_ASSETS/select-xamarin-sdk-v2.sh --mono=6.12 --ios=14.10
    
    - name: Set default Xcode 12.3
      run: |
        XCODE_ROOT=/Applications/Xcode_12.3.0.app
        echo "MD_APPLE_SDK_ROOT=$XCODE_ROOT" >> $GITHUB_ENV
        sudo xcode-select -s $XCODE_ROOT

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: ${{ env.NET_VERSION }}

    - name: Install dependencies
      run: nuget restore ${{ env.SLN_PATH }}

    - name: Build
      run: msbuild ${{ env.IOS_PATH }} /p:Configuration=Release /p:Platform=iPhoneSimulator /t:Rebuild

  build-droid:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set default Xamarin SDK versions
      run: |
        $VM_ASSETS/select-xamarin-sdk-v2.sh --mono=6.10 --android=10.2

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: ${{ env.NET_VERSION }}

    - name: Install dependencies
      run: dotnet restore ${{ env.SLN_PATH }}

    - name: Build
      run: msbuild ${{ env.ANDROID_PATH }} /t:AnyCPU /p:Configuration=Release /t:Rebuild
