name: Build App

on:
  push:
    tags:
      - bundle[0-9]+.[0-9]+.[0-9]+

env:
  CSPROJ_PATH: ./FIS-J/FIS-J.csproj
  IPA_PATH: ./FIS-J/bin/Publish/net6.0-ios/ios-arm64/publish/FIS-J.ipa

jobs:
  build-ios:
    runs-on: [self-hosted, macOS]
    steps:
    - uses: actions/checkout@v2

    - name: Install dependencies
      run: dotnet restore ${{ env.CSPROJ_PATH }}

    - name: Build
      run: dotnet publish ${{ env.CSPROJ_PATH }} -f:net6.0-ios -r ios-arm64 -c:Publish /p:ApplicationVersion=`echo ${{ github.ref_name }} | tr -d bundle`
    
    - name: validate
      run: xcrun altool --validate-app --type ios -f ${{ env.IPA_PATH }} --apiKey ${{ secrets.APPSTORECONNECT_API_KEY }} --apiIssuer ${{ secrets.APPSTORECONNECT_ISSUER_ID }}

    - name: upload
      run: xcrun altool --upload-app --type ios -f ${{ env.IPA_PATH }} --apiKey ${{ secrets.APPSTORECONNECT_API_KEY }} --apiIssuer ${{ secrets.APPSTORECONNECT_ISSUER_ID }}

    - name: Upload IPA
      uses: actions/upload-artifact@v3.0.0
      with:
        name: ipa
        path: ${{ env.IPA_PATH }}
        retention-days: 3
